<div class="footer-box">
  <div class="footer-row">
    <div class="footer-link">
      <span class="table">Follow Us</span
      ><span class="table footer-sub-link">Linked In</span>
    </div>
    <div class="footer-link">
      <span class="table">Visit Us</span
      ><span class="table footer-sub-link">Rocket Central</span>
      <span class="table footer-sub-link">1005 Woodward Ave.</span>
      <span class="table footer-sub-link">Detroit, MI 48226-1906</span>
    </div>
    <div class="footer-link">
      <span class="table">Contact Us</span>
      <span class="table footer-sub-link">We're here to help!</span>
    </div>
    <div class="footer-link">
      <span class="table">Legal</span>
      <span class="table footer-sub-link">Privacy Policy</span>
      <span class="table footer-sub-link"
        >Do Not Sell My Personal Information</span
      >
    </div>
  </div>
  <div class="image-row">
    <img src="assets/images/rocketcentralopaque.png" />
  </div>
  <div class="col-12 center">
    <span class="copyright">© 2022 Rock Central. | All Rights Reserved. </span>
  </div>
</div>
